@import "tailwindcss";


/* @tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: custom scrollbar for sidebar */
/* ::-webkit-scrollbar {
  width: 6px;
} */
/* ::-webkit-scrollbar-thumb {
  background: #1e3a8a; /* navy */
  /* border-radius: 3px;
} */
